<div class="header">
  <button class="logout-button" (click)="logout()">Logout</button>
</div>

<table class="user-table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Manage</th>
    </tr>
  </thead>
  <tbody>
    @for (userdetail of userList; track $index) {
      <tr>
        <td>{{ userdetail.username }}</td>
        <td>{{ userdetail.firstname }}</td>
        <td>{{ userdetail.lastname }}</td>
        <td>{{ userdetail.email }}</td>
        <td>{{ userdetail.telephone }}</td>
        <td>
          <button (click)="deleteUser($index)">ลบ</button>
      </tr>
    }
  </tbody>
</table>
